.coins-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.coin-name {
    width: 20%;
}

.coin-symbol {
    width: 10%;
    text-align: center;
}

.coin-price {
    width: 10%;
    text-align: center;
}

.control-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    height: auto;
}

.coin-add-btn {
    width: 40%;
    background-color: #157A6E;
    color: #F1FFE7;
    border-radius: 0.5em;
    padding: 0 1%;
}

.coin-add-btn:hover {
    cursor: pointer;
}

.coin-add-btn:active {
    background-color: #0e5149;
}

.to-page-btn {
    width: 40%;
    background-color: #157A6E;
    color: #F1FFE7;
    border-radius: 0.5em;
    padding: 0 1%;
}

.to-page-btn:hover {
    cursor: pointer;
}

.to-page-btn:active {
    background-color: #0e5149;
}

.link-to-page {
    color: #F1FFE7;
}

@media (max-width: 815px) {
    .to-page-btn {
        font-size: 60%;
    }
    .coin-add-btn {
        font-size: 60%;
    } 
}