.coins-list-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 5vh;
    margin: 0.5%;
}

.coin-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coin-name {
    width: 15%;
}

.coin-symbol {
    width: 10%;
    text-align: center;
}

.coin-price {
    width: 15%;
    text-align: center;
}

.control-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 12.5vw;
    height: 100%;
}

.coin-add-btn {
    width: 5vw;
    height: 3vh;
    background-color: #157A6E;
    color: #F1FFE7;
    border-radius: 0.5em;
}

.coin-add-btn:hover {
    cursor: pointer;
}

.coin-add-btn:active {
    background-color: #0e5149;
}

.to-page-btn {
    width: 5vw;
    height: 3vh;
    background-color: #157A6E;
    color: #F1FFE7;
    border-radius: 0.5em;
}

.to-page-btn:hover {
    cursor: pointer;
}

.to-page-btn:active {
    background-color: #0e5149;
}