.App {
  background-color: #ffffff;
  min-height: 100vh;
  height: 1100px;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-header {
  height: auto;
}

.profile-button {
  position: absolute;
  top: 35px;
  left: 2%;
  height: 50px;
  width: 180px;
  background-color: transparent;
  border-radius: 0.5em;
  border-color: #3d5a80;
  border-width: 1.5px;
  color: rgb(0, 0, 0);
}

.difference {
  position: absolute;
  top: 35px;
  right: 2%;
  height: 50px;
  width: 180px;
  background-color: transparent;
  border-radius: 0.5em;
  border-color: #3d5a80;
  border-width: 1.5px;
  color: rgb(0, 0, 0);
}