/* Модальный (фон) */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Оставаться на месте */
    z-index: 1; /* Сидеть на вершине */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Включите прокрутку, если это необходимо */
    background-color: rgb(0,0,0); /* Цвет запасной вариант */
    background-color: rgba(0,0,0,0.4); /* Черный с непрозрачностью */
  }
  
  /* Модальное содержание/коробка */
  .modal-content {
    background-color: #0D1821;
    color: #F1FFE7;
    display: flex;
    justify-content: space-between;
    border-radius: 0.5em;
    height: 70vh;
    width: 70vw;
    margin: 15% auto; /* 15% сверху и по центру */
    border: 1px solid #888;
  }
  
  /* Кнопка закрытия */
  .close {
    color: #aaa;
    height: 5vh;
    width: 1.5vw;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: auto;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(219, 18, 18);
    text-decoration: none;
    cursor: pointer;
  }

.pofile-coin-list {
  width: 100%;
}

td, th {
  padding: 5px;
  text-align: center;
}

.delete-crypto {
  width: 4vw;
  height: 4vh;
  background-color: #157A6E; 
  color: #F1FFE7;
  font-size: 100%;
  border-radius: 0.5em;
}

.delete-crypto:hover {
  color: rgb(219, 18, 18);
  cursor: pointer;
}

.delete-crypto:active {
  background-color: #136e64;
  color:rgb(173, 15, 15);
}