.coins-list {
    margin: 0 auto;
    width: 60%;
    height: auto;
    padding: 1%;
    background-color: #0D1821;
    color: #F1FFE7;
    border-radius: 0.5em;
    box-shadow: 10px 10px 30px rgb(163, 163, 163);
}

@media (max-width: 815px) {
    .coins-list {
        width: 80%;
        font-size: 70%;
    }
}