.all-coin-list {
    position: absolute;
    width: 60%;
    top: 30%;
    left: 20%;
    padding-left: 0;
    background-color: #3d5a80;
    border-radius: 4px;
    box-shadow: 15px 15px 30px rgba(0,0,0, .15);
    color: #fff;
}

th, td {
    padding: 5px;
    text-align: center;
}

.addBtn {
    margin-bottom: 10px;
    border-radius: 0.5em;
    width: 27.5px;
    height: 27.5px;
}
